.poke-details {
   background-color: #e7e6e6;
   margin: 0 auto;
   width: 100vw;
   height: 100vh;
   padding-top: 1rem;
}

.container {
 max-width: 95%;
 min-height:95%;
 margin: 0 auto;
 border-radius: 2rem;
 position: relative;
 color: #ffffff;
 padding-top: 2rem;
}

.container a {
  text-decoration: none;
  color: #ffffff;
}

.arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.back-and-heart {
 display:flex;
 justify-content: space-between;
 padding: 1rem 1.5rem 0 1.7rem;
 margin: 0;
}

.heart {
   background-color: #fff;
   width: 13px;
   height: 13px;
   transform: rotate(45deg);
  margin-top: .5rem;
}
.heart::before, .heart::after {
   content: "";
   width: 13px;
   height: 13px;
   background-color: #fff;
   position: absolute;
   border-radius: 50%;
}
.heart::before {
   left: -8px;
}
.heart::after {
   top: -8px;
}

.name-type-id {
 padding: 0 0 0 1.5rem;
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.name-type-id h1, p {
 margin: 0;
}

.name-type-id h1 {
 margin: 1.5rem 0 .3rem 0;
 text-transform: capitalize;
 text-align: left;
}

.name-type-id .poke-id{
 text-align: right;
 margin-right: 1rem;
 align-self: end
}

.name-type-id span {
 font-size: .750rem;
 padding: .25rem .5rem;
 border-radius: 1rem;
 filter: brightness(1.1);
}

.name-type-id span:last-of-type {
 margin-left: .4rem;
}

.inferior {
   width: 100%;
   height: 53%;
   background-color: #ffffff;
   color: #000000;
   border-radius: 1.9rem;
   position: absolute;
   bottom: 0;
   font-size: .85rem;
   letter-spacing: 1px;
   padding: 0 .5rem;
}

.image {
   display: flex;
   justify-content: space-around;
   max-width: 100%;
   height: 220px;
   margin-top: -12rem;
   z-index: 1;
  }

.headers {
 padding: 1rem 1rem 0 1rem;
 display: flex;
 justify-content: space-between;
 color: rgb(184, 184, 184);
}

.active {
   color: #000000 !important;
   border-bottom: #000000 solid 1px;
   padding-bottom: 1rem;
}

.about p {
 padding: .4rem 1rem;
}

.about .left-col {
 display: inline-block;
 width: 4rem;
 color: rgb(160, 158, 158);
 letter-spacing: 0;
 font-size: .75rem;
}

.header {
   padding-top: .7rem;
   color: #000000 !important;
}

.about .right-col {
 margin-left: 1.5rem;
 font-size: .75rem;
 color: rgb(68, 68, 68);
}

.about #poke-ability {
   text-transform: capitalize;
   margin-left: 1.2rem;
}

@media screen and (min-width: 700px) {
   .container {
      max-width: 500px;
   }
   .image {
      height: 260px;
      margin-top: -14rem;
   }
}